/*  ==== Font ==== */

.text-shadow{
    text-shadow: 2px, 2px, 2px, rgba(0, 0, 0, 0.5);
}

.card{
    border-radius: 1rem;
}

.btn{
    margin: 5px;
}

/*  ==== Images ==== */
.tv-logo{
    max-height: 200px;
}