{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Create TV Show</h3>
<div class="row">
    <div class="col s8 offset-s2">
        <form class="card-panel" method="POST" action="{{ url_for('create_tv')}}">
            <!--Title-->
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input id="title" name="title" type="text">
                    <label for="title">TV Show Title</label>
                </div>
            </div>
            <!-- Release Date-->
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input type="text" id="release" name="release" class="datepicker">
                    <label for="release">Release Date</label>
                </div>
            </div>
            <!--Seasons-->
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input id="seasons" name="seasons" type="text" data-length="30">
                    <label for="seasons">Seasons</label>
                </div>
            </div>
            <!--Episodes-->
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input id="episodes" name="episodes" type="text" data-length="30">
                    <label for="episodes">Episodes</label>
                </div>
            </div>
            <!--Code-->
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input id="code" name="code" type="text" data-length="30">
                    <label for="code">Code</label>
                </div>
            </div>
            <!-- Movie Released - When Changed users should be able to review movies previously blocked-->
            <div class="row">
                <div class="switch center-align">
                    <label for="released">
                        <span>Released:</span>
                        No
                        <input type="checkbox" id="released" name="released">
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>
            </div>
            <!-- Plot/Synopsis-->
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <textarea id="plot" name="plot" class="materialize-textarea" data-length="560"></textarea>
                    <label for="plot">Plot</label>
              </div> 
            </div>
            <!--Submit Button-->
            <div class="row">
                <div class="col s8 offset-s2 center-align">
                    <button type="submit" class="btn-large btn-red">
                        Create TV Show <i class="fas fa-plus-circle right"></i>
                    </button>
                    <a href="{{ url_for('get_movies') }}" class="btn btn-blue btn-large">Cancel <i class="far fa-times-circle right"></i></a>

                </div>
            </div>

        </form>      
    </div>
</div>
        

{% endblock %}
{% block footer %}
{% endblock %}