{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Create Movie</h3>
<div class="row">
    <div class="col s8 offset-s2">
        <form class="card-panel" method="POST" action="{{ url_for('create_movie')}}">
            <!--Title-->
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input id="title" name="title" type="text">
                    <label for="title">Movie Title</label>
                </div>
            </div>
            <!-- Release Date-->
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input type="text" id="release_date" name="relese_date" class="datepicker">
                    <label for="release_date">Release Date</label>
                </div>
            </div>
            <!--Phase-->
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input id="phase" name="phase" type="text" data-length="30">
                    <label for="phase">Phase</label>
                </div>
            </div>
            <!--Code-->
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input id="code" name="code" type="text" data-length="30">
                    <label for="code">code</label>
                </div>
            </div>
            <!-- Movie Released - When Changed users should be able to review movies previously blocked-->
            <div class="row">
                <div class="switch center-align">
                    <label for="released">
                        <span>Released:</span>
                        No
                        <input type="checkbox" id="released" name="released" checked>
                    <span class="lever"></span>
                    Yes
                    </label>
                </div>
            </div>
            <!-- Plot/Synopsis-->
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <textarea id="plot" name="plot" class="materialize-textarea" data-length="560"></textarea>
                    <label for="plot">Plot</label>
              </div> 
            </div>
            <!--Submit Button-->
            <div class="row">
                <div class="col s8 offset-s2 center-align">
                    <button type="submit" class="btn-large btn-red">
                        Create Movie
                    </button>
                    <a href="{{ url_for('get_movies') }}" class="btn btn-blue btn-large">Cancel</a>

                </div>
            </div>

        </form>      
    </div>
</div>
        

{% endblock %}
{% block footer %}
{% endblock %}