{% extends "base.html" %}
{% block content %}


    <h2 class="center-align red-text">Welcome to M C Revue your home to review the MCU</h2>
    <div class="row">
        <div class="card card-home col s12 m6 center-align">
            <h4 class="red-text">Check Out the MCU movies</h4>
            <div class="row">
                <a class="btn btn-red btn-large" href="{{ url_for('get_movies') }}">Here</a>
            </div>
        </div>
        <div class="card card-home col s12 m6 center-align">
            <h4 class="red-text">Check Out the MCU television shows</h4>
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <a class="btn btn-blue btn-large" href="{{ url_for('get_television') }}">Here</a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
{% block footer %}
{% endblock %}