{% extends "base.html" %}
{% block content %}
    
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel">
                <h3 class="center-align red-text text-darken-2">
                    {{movie.title}}
                </h3>
            </div>
        </div>
    </div>
    <div class="col s12 m8 offset-m2">
        <div class="card card-movie horizontal">
          <div class="card-image">
            <img class="poster center-align"  src="/static/images/movies/{{ movie.code }}.png" alt="{{ movie.title }}">
          </div>
          <div class="card-stacked">
            <div class="card-content">  
                <span>Release Date:</span> <span>{{ movie.release_date }}</span>
                <div>
                    <p>Synposis:</p>
                    <blockquote>{{ movie.plot}}</blockquote>
                </div>
                <!-- Movie info-->
                <span></span>
            </div>
            <div class="card-action center-align">
                {% if movie.released == "on" %}
                    <a href="{{ url_for('review', movie_id=movie._id) }}" class="btn btn-red"> <i class="fas fa-pencil-alt right"></i>Revue</a>
                {% else %}
                    <a href="#" class="btn btn-red disabled"> <i class="fas fa-pencil-alt right">></i>Revue</a>
                {% endif %}
                <a href="{{ url_for('get_movies') }}" class="btn btn-blue"> <i class="far fa-arrow-alt-circle-left right"></i>Back</a>
                <!-- Admin Control-->
                {% if session.user == 'admin' %}
                    <a href="{{ url_for('edit_movie', movie_id=movie._id) }}" class="btn btn-yellow" > <i class="far fa-edit right"></i>Edit</a>
                {% endif %}
            </div>
          </div>
        </div>
    </div>
    <!-- User reviews of Movie-->
    <div class="row center-align">
        <h4 class="red-text text-darken-2">Reviews</h4>
        <div class="row center-align">
            {% for review in reviews %}
                <div class="col s12 m4">
                    <div class="card card-review">
                        <h4 class="red-text text-darken-2">{{ review.headline }}</h4>
                        <div class="card-content left-align">
                            <p>{{ review.review }}</p>
                            <p class="center-align">{{review.rating}}/5 <i class="fas fa rating-picked"></i></p>
                            <span>Reviewed by:</span> <span>{{ review.reviewed_by }}</span>
                        </div>
                            <!-- If author of review Allow them options to edit delete review.-->
                        {% if session.user == review.reviewed_by %}
                            <div class="card-action center-align">
                                <a class="btn btn-blue" href="{{ url_for('edit_moviereview', reviews_id=review._id) }}">Edit</a>
                            </div>
                        {% endif%}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}