{% extends "base.html" %}
{% block content %}
    <h2>The Marvel Cinematic Universe</h2>
    <div>
        <div class="row">
            {% for movie in movies %}
                <!-- Source taken from Materliaze and customised-->
                <div class="col s12 m6 l4 ">
                    <div class="card card-movie horizontal">
                      <div class="card-image">
                        <img class="poster v-align center-align"  src="static/images/movies/{{ movie.code }}.png" alt="{{ movie.title }}">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                            <h6 class="red-text text-darken-4 center-align">{{ movie.title }}</h6>   
                            <span>Release Date:</span><br><span>{{ movie.release_date }}</span>
                        </div>
                        <div class="card-action center-align">
                            <a href="#" class="btn"> <i class="far fa-eye right"></i>View</a>
                            {% if movie.released == "yes" %}
                            <a href="{{ url_for('review') }}" class="btn btn-red"> <i class="far fa-edit right"></i>Revue</a>
                        {% else %}
                            <a href="{{ url_for('review') }}" class="btn btn-red disabled"> <i class="far fa-edit right"></i>Revue</a>
                        {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
           {% endfor %}
        </div> 
    </div>
{% endblock %}
{% block footer %}
{% endblock %}