{% extends "base.html" %}
{% block content %}
    
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel">
                <h3 class="center-align red-text text-darken-2">
                    {{username}}'s Profile
                </h3>
            </div>
        </div>
    </div>
    <!--Movie review-->
    <div class="row center-align">
        <h4 class="red-text text-darken-2">Movie  Reviews</h4>
        {% for review in reviews %}
        <div class="row center-align">
            <div class="col s12 m4">
                <div class="card card-review">
                    <h4 class="red-text text-darken-2">{{ review.headline }}</h4>
                    <div class="card-content left-align">
                        <p>{{ review.review }}</p>
                        <p class="center-align">{{review.rating}}/5 <i class="fas fa rating-picked"></i></p>
                        <span>Reviewed by:</span> <span>{{ review.reviewed_by }}</span>
                    </div>
                        <div class="card-action center-align">
                            <a class="btn" href="{{ url_for('edit_moviereview', reviews_id=review._id) }}">Edit</a>
                            <a class="btn btn-red" href="#">Delete</a>
                        </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <!-- Television reviews-->
    <div class="row center-align">
        <h4 class="red-text text-darken-2">Television Reviews</h4>
        {% for tvreview in tv_reviews %}
        <div class="row center-align">
            
            <div class="col s12 m4">
                <div class="card card-review">
                    <h4 class="red-text text-darken-2">{{ tvreview.headline }}</h4>
                    <div class="card-content left-align">
                        <p>{{ tvreview.review }}</p>
                        <p class="center-align">{{tvreview.rating}}/5 <i class="fas fa rating-picked"></i></p>
                        <span>Reviewed by:</span> <span>{{ tvreview.reviewed_by }}</span>
                    </div>
                        <div class="card-action center-align">
                            <a class="btn" href="{{ url_for('edit_tvreview', tvreviews_id=tvreview._id) }}">Edit</a>
                            <a class="btn btn-red" href="#">Delete</a>
                        </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    
{% endblock %}
{% block footer %}
{% endblock %}