{% extends "base.html" %}
{% block content %}
    <h2 class="center-align red-text text-darken-2">Register</h2>
    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel center-align text-shadow">
                <!--Username Entry-->
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="fas fa-id-badge prefix red-text text-darken-2"></i>
                        <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!--Password Entry-->
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="fas fa-user-shield prefix red-text text-darken-2"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s8 offset-s2 btn-large btn-red darken-2 text-shadow">
                        Submit <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <p>Aready Assembled?</p> <a href="{{ url_for('sign_in') }}" class="red-text text-darken-2">Sign In</a>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}