{% extends "base.html" %}
{% block content %}
    <h2>The Marvel Cinematic Universe: TV Shows</h2>
    <div>
        <div class="row">
            {% for tvshow in tvshows %}
                <div class="col s10 offset-s1 m4 l3">
                    <div class="card card-tv center-align">
                        <div class="card-image circle">
                            <img class="tv-logo"  src="static/images/tv/{{ tvshow.code }}.png" alt="{{ tvshow.title }}">
                        </div>
                        <div class="card-stacked">
                            <span>Release Date:</span> <span class="result"> {{ tvshow.release }} </span> <br>
                            <span>Seasons:</span> {{ tvshow.seasons }} <span>Episodes:</span> {{ tvshow.episodes }}<br>
                            <a href="#" class="btn"> <i class="far fa-eye right"></i>View</a>
                            {% if tvshow.released == "yes" %}
                                <a href="#" class="btn btn-red"> <i class="far fa-edit right"></i>Revue</a>
                            {% else %}
                                <a href="#" class="btn btn-red disabled"> <i class="far fa-edit right"></i>Revue</a>
                            {% endif %}
                        </div>
                    </div> 
                </div>   
           {% endfor %}
        </div> 
    </div>
{% endblock %}
{% block footer %}
{% endblock %}